@use '../breakpoints' as *;

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*              All sides              */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-m,
    .#{$bp}\:rt-r-m-0,
    .#{$bp}\:rt-r-m-1,
    .#{$bp}\:rt-r-m-2,
    .#{$bp}\:rt-r-m-3,
    .#{$bp}\:rt-r-m-4,
    .#{$bp}\:rt-r-m-5,
    .#{$bp}\:rt-r-m-6,
    .#{$bp}\:rt-r-m-7,
    .#{$bp}\:rt-r-m-8,
    .#{$bp}\:rt-r-m-9,
    .#{$bp}\:-rt-r-m-1,
    .#{$bp}\:-rt-r-m-2,
    .#{$bp}\:-rt-r-m-3,
    .#{$bp}\:-rt-r-m-4,
    .#{$bp}\:-rt-r-m-5,
    .#{$bp}\:-rt-r-m-6,
    .#{$bp}\:-rt-r-m-7,
    .#{$bp}\:-rt-r-m-8,
    .#{$bp}\:-rt-r-m-9 {
      margin-top: var(--margin-top-override, var(--margin-top));
      margin-right: var(--margin-right-override, var(--margin-right));
      margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
      margin-left: var(--margin-left-override, var(--margin-left));
    }
  }
}
.rt-r-m {
  --margin-top: var(--m);
  --margin-right: var(--m);
  --margin-bottom: var(--m);
  --margin-left: var(--m);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-m {
      --margin-top: var(--m-#{$bp});
      --margin-right: var(--m-#{$bp});
      --margin-bottom: var(--m-#{$bp});
      --margin-left: var(--m-#{$bp});
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Left and right            */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-mx,
    .#{$bp}\:rt-r-mx-0,
    .#{$bp}\:rt-r-mx-1,
    .#{$bp}\:rt-r-mx-2,
    .#{$bp}\:rt-r-mx-3,
    .#{$bp}\:rt-r-mx-4,
    .#{$bp}\:rt-r-mx-5,
    .#{$bp}\:rt-r-mx-6,
    .#{$bp}\:rt-r-mx-7,
    .#{$bp}\:rt-r-mx-8,
    .#{$bp}\:rt-r-mx-9,
    .#{$bp}\:-rt-r-mx-1,
    .#{$bp}\:-rt-r-mx-2,
    .#{$bp}\:-rt-r-mx-3,
    .#{$bp}\:-rt-r-mx-4,
    .#{$bp}\:-rt-r-mx-5,
    .#{$bp}\:-rt-r-mx-6,
    .#{$bp}\:-rt-r-mx-7,
    .#{$bp}\:-rt-r-mx-8,
    .#{$bp}\:-rt-r-mx-9 {
      margin-left: var(--margin-left-override, var(--margin-left));
      margin-right: var(--margin-right-override, var(--margin-right));
    }
  }
}
.rt-r-mx {
  --margin-left: var(--ml);
  --margin-right: var(--mr);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-mx {
      --margin-left: var(--ml-#{$bp});
      --margin-right: var(--mr-#{$bp});
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Top and bottom            */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-my,
    .#{$bp}\:rt-r-my-0,
    .#{$bp}\:rt-r-my-1,
    .#{$bp}\:rt-r-my-2,
    .#{$bp}\:rt-r-my-3,
    .#{$bp}\:rt-r-my-4,
    .#{$bp}\:rt-r-my-5,
    .#{$bp}\:rt-r-my-6,
    .#{$bp}\:rt-r-my-7,
    .#{$bp}\:rt-r-my-8,
    .#{$bp}\:rt-r-my-9,
    .#{$bp}\:-rt-r-my-1,
    .#{$bp}\:-rt-r-my-2,
    .#{$bp}\:-rt-r-my-3,
    .#{$bp}\:-rt-r-my-4,
    .#{$bp}\:-rt-r-my-5,
    .#{$bp}\:-rt-r-my-6,
    .#{$bp}\:-rt-r-my-7,
    .#{$bp}\:-rt-r-my-8,
    .#{$bp}\:-rt-r-my-9 {
      margin-top: var(--margin-top-override, var(--margin-top));
      margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
    }
  }
}

.rt-r-my {
  --margin-top: var(--mt);
  --margin-bottom: var(--mb);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-my {
      --margin-top: var(--mt-#{$bp});
      --margin-bottom: var(--mb-#{$bp});
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                 Top                 */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-mt,
    .#{$bp}\:rt-r-mt-0,
    .#{$bp}\:rt-r-mt-1,
    .#{$bp}\:rt-r-mt-2,
    .#{$bp}\:rt-r-mt-3,
    .#{$bp}\:rt-r-mt-4,
    .#{$bp}\:rt-r-mt-5,
    .#{$bp}\:rt-r-mt-6,
    .#{$bp}\:rt-r-mt-7,
    .#{$bp}\:rt-r-mt-8,
    .#{$bp}\:rt-r-mt-9,
    .#{$bp}\:-rt-r-mt-1,
    .#{$bp}\:-rt-r-mt-2,
    .#{$bp}\:-rt-r-mt-3,
    .#{$bp}\:-rt-r-mt-4,
    .#{$bp}\:-rt-r-mt-5,
    .#{$bp}\:-rt-r-mt-6,
    .#{$bp}\:-rt-r-mt-7,
    .#{$bp}\:-rt-r-mt-8,
    .#{$bp}\:-rt-r-mt-9 {
      margin-top: var(--margin-top-override, var(--margin-top));
    }
  }
}
.rt-r-mt {
  --margin-top: var(--mt);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-mt {
      --margin-top: var(--mt-#{$bp});
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Right                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-mr,
    .#{$bp}\:rt-r-mr-0,
    .#{$bp}\:rt-r-mr-1,
    .#{$bp}\:rt-r-mr-2,
    .#{$bp}\:rt-r-mr-3,
    .#{$bp}\:rt-r-mr-4,
    .#{$bp}\:rt-r-mr-5,
    .#{$bp}\:rt-r-mr-6,
    .#{$bp}\:rt-r-mr-7,
    .#{$bp}\:rt-r-mr-8,
    .#{$bp}\:rt-r-mr-9,
    .#{$bp}\:-rt-r-mr-1,
    .#{$bp}\:-rt-r-mr-2,
    .#{$bp}\:-rt-r-mr-3,
    .#{$bp}\:-rt-r-mr-4,
    .#{$bp}\:-rt-r-mr-5,
    .#{$bp}\:-rt-r-mr-6,
    .#{$bp}\:-rt-r-mr-7,
    .#{$bp}\:-rt-r-mr-8,
    .#{$bp}\:-rt-r-mr-9 {
      margin-right: var(--margin-right-override, var(--margin-right));
    }
  }
}
.rt-r-mr {
  --margin-right: var(--mr);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-mr {
      --margin-right: var(--mr-#{$bp});
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*               Bottom                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-mb,
    .#{$bp}\:rt-r-mb-0,
    .#{$bp}\:rt-r-mb-1,
    .#{$bp}\:rt-r-mb-2,
    .#{$bp}\:rt-r-mb-3,
    .#{$bp}\:rt-r-mb-4,
    .#{$bp}\:rt-r-mb-5,
    .#{$bp}\:rt-r-mb-6,
    .#{$bp}\:rt-r-mb-7,
    .#{$bp}\:rt-r-mb-8,
    .#{$bp}\:rt-r-mb-9,
    .#{$bp}\:-rt-r-mb-1,
    .#{$bp}\:-rt-r-mb-2,
    .#{$bp}\:-rt-r-mb-3,
    .#{$bp}\:-rt-r-mb-4,
    .#{$bp}\:-rt-r-mb-5,
    .#{$bp}\:-rt-r-mb-6,
    .#{$bp}\:-rt-r-mb-7,
    .#{$bp}\:-rt-r-mb-8,
    .#{$bp}\:-rt-r-mb-9 {
      margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
    }
  }
}
.rt-r-mb {
  --margin-bottom: var(--mb);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-mb {
      --margin-bottom: var(--mb-#{$bp});
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Left                 */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-ml,
    .#{$bp}\:rt-r-ml-0,
    .#{$bp}\:rt-r-ml-1,
    .#{$bp}\:rt-r-ml-2,
    .#{$bp}\:rt-r-ml-3,
    .#{$bp}\:rt-r-ml-4,
    .#{$bp}\:rt-r-ml-5,
    .#{$bp}\:rt-r-ml-6,
    .#{$bp}\:rt-r-ml-7,
    .#{$bp}\:rt-r-ml-8,
    .#{$bp}\:rt-r-ml-9,
    .#{$bp}\:-rt-r-ml-1,
    .#{$bp}\:-rt-r-ml-2,
    .#{$bp}\:-rt-r-ml-3,
    .#{$bp}\:-rt-r-ml-4,
    .#{$bp}\:-rt-r-ml-5,
    .#{$bp}\:-rt-r-ml-6,
    .#{$bp}\:-rt-r-ml-7,
    .#{$bp}\:-rt-r-ml-8,
    .#{$bp}\:-rt-r-ml-9 {
      margin-left: var(--margin-left-override, var(--margin-left));
    }
  }
}
.rt-r-ml {
  --margin-left: var(--ml);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-ml {
      --margin-left: var(--ml-#{$bp});
    }
  }
}
