.modal-dialog {
  pointer-events: auto;
  position: fixed;
  width: 450px;
}

.mx-underlay {
  position: fixed;
  inset: 0;

  &::before {
    position: fixed;
    inset: 0;
    content: "";
    background-color: var(--color-overlay);
  }
}

.modal-content {
  margin: auto;
  width: 100%;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  overflow: auto;

  --inset-padding-top: var(--dialog-content-padding);
  --inset-padding-right: var(--dialog-content-padding);
  --inset-padding-bottom: var(--dialog-content-padding);
  --inset-padding-left: var(--dialog-content-padding);
  padding: var(--dialog-content-padding);
  box-sizing: border-box;

  background-color: var(--color-panel-solid);
  box-shadow: var(--shadow-6);
  outline: none;
}

@mixin modal-content-sizes($prefix) {
  :where(.modal-dialog#{$prefix}-r-size-1 .modal-content) {
    --dialog-content-padding: var(--space-3);
    border-radius: var(--radius-4);
  }
  :where(.modal-dialog#{$prefix}-r-size-2 .modal-content) {
    --dialog-content-padding: var(--space-4);
    border-radius: var(--radius-4);
  }
  :where(.modal-dialog#{$prefix}-r-size-3 .modal-content) {
    --dialog-content-padding: var(--space-5);
    border-radius: var(--radius-5);
  }
  :where(.modal-dialog#{$prefix}-r-size-4 .modal-content) {
    --dialog-content-padding: var(--space-6);
    border-radius: var(--radius-5);
  }
}

@include modal-content-sizes(".rt");
