@forward "global";
@forward "mendix";
@forward "preview/dropzone";

@forward "tokens/index";
@forward "components/index";
@forward "utilities/index";
@forward "layouts/layout-classic";

.radix-themes:where([data-is-root-theme="true"]) {
  /* Create a new stacking context on the root `Theme` so layered components work out of the box */
  position: relative;
  z-index: 13;

  /* Make sure root `Theme` background covers the viewport */
  min-height: 100vh;
  @supports (min-height: 100dvh) {
    min-height: 100dvh;
  }
}

// .rt-PreviewTab:not(:has([data-selected])) {
//   max-height: 35px;
//   overflow: hidden;
// }

.rt-PreviewTab {
  border-bottom: 1px dashed lightslategray;
}

.rt-PreviewTab:where([data-active="true"]) {
  min-height: 64px;
  order: 1;
}

.rt-PreviewTab:where([data-active="false"]) {
  order: 2;
  height: 16px;
  background-color: #6f6f6f17;
  display: flex;
}

.rt-PreviewTab:where([data-active="false"]) > * {
  display: none;
}

.rt-PreviewTab:where([data-active="false"])::after {
  content: attr(data-caption);
  font-size: 0.75em;
  font-family: monospace;
}
