@import "custom-variables";

.std-app-icon {
  min-width: 16px;
  width: fit-content;
  min-height: 16px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-demo-item {
  background: #cccccc;
  flex-grow: 0;
}

:root {
  --my-spacing: 99.9px;
}
