@use '../breakpoints' as *;

.rt-r-fb {
  flex-basis: var(--flex-basis);
}

@include breakpoint('xs') {
  .xs\:rt-r-fb {
    flex-basis: var(--flex-basis-xs);
  }
}
@include breakpoint('sm') {
  .sm\:rt-r-fb {
    flex-basis: var(--flex-basis-sm);
  }
}
@include breakpoint('md') {
  .md\:rt-r-fb {
    flex-basis: var(--flex-basis-md);
  }
}
@include breakpoint('lg') {
  .lg\:rt-r-fb {
    flex-basis: var(--flex-basis-lg);
  }
}
@include breakpoint('xl') {
  .xl\:rt-r-fb {
    flex-basis: var(--flex-basis-xl);
  }
}
