@use '../breakpoints' as *;

@for $i from 1 through 9 {
  .rt-r-gre-#{$i} {
    grid-row-end: #{$i};
  }
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 1 through 9 {
      .#{$bp}\:rt-r-gre-#{$i} {
        grid-row-end: #{$i};
      }
    }
  }
}

.rt-r-gre {
  grid-row-end: var(--grid-row-end);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-gre {
      grid-row-end: var(--grid-row-end-#{$bp});
    }
  }
}
