# Ignore everything by default.
# This to make sure we include only needed files and don't ship any garbage.
# If you need to include a file, make user it's parent directories also included.
*
!.gitignore
!RadixKit_Base.mpr

!theme
!theme/web
!theme/web/main.scss
!theme/web/settings.json

!themesource
!themesource/radixkit
!themesource/radixkit/settings.json
!themesource/radixkit/web
!themesource/radixkit/web/design-properties.json