@use '../breakpoints' as *;

@for $i from 1 through 9 {
  .rt-r-grs-#{$i} {
    grid-row-start: #{$i};
  }
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 1 through 9 {
      .#{$bp}\:rt-r-grs-#{$i} {
        grid-row-start: #{$i};
      }
    }
  }
}

.rt-r-grs {
  grid-row-start: var(--grid-row-start);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-grs {
      grid-row-start: var(--grid-row-start-#{$bp});
    }
  }
}
