@use '../breakpoints' as *;

.rt-r-fs-0 {
  flex-shrink: 0;
}
.rt-r-fs-1 {
  flex-shrink: 1;
}

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-fs-0 {
      flex-shrink: 0;
    }
    .#{$bp}\:rt-r-fs-1 {
      flex-shrink: 1;
    }
  }
}

.rt-r-fs {
  flex-shrink: var(--flex-shrink);
}
@include breakpoint(xs) {
  .xs\:rt-r-fs {
    flex-shrink: var(--flex-shrink-xs);
  }
}
@include breakpoint(sm) {
  .sm\:rt-r-fs {
    flex-shrink: var(--flex-shrink-sm);
  }
}
@include breakpoint(md) {
  .md\:rt-r-fs {
    flex-shrink: var(--flex-shrink-md);
  }
}
@include breakpoint(lg) {
  .lg\:rt-r-fs {
    flex-shrink: var(--flex-shrink-lg);
  }
}
@include breakpoint(xl) {
  .xl\:rt-r-fs {
    flex-shrink: var(--flex-shrink-xl);
  }
}
