@use '../breakpoints' as *;

.rt-r-fg-0 {
  flex-grow: 0;
}
.rt-r-fg-1 {
  flex-grow: 1;
}

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-fg-0 {
      flex-grow: 0;
    }
    .#{$bp}\:rt-r-fg-1 {
      flex-grow: 1;
    }
  }
}

.rt-r-fg {
  flex-grow: var(--flex-grow);
}
@include breakpoint('xs') {
  .xs\:rt-r-fg {
    flex-grow: var(--flex-grow-xs);
  }
}
@include breakpoint('sm') {
  .sm\:rt-r-fg {
    flex-grow: var(--flex-grow-sm);
  }
}
@include breakpoint('md') {
  .md\:rt-r-fg {
    flex-grow: var(--flex-grow-md);
  }
}
@include breakpoint('lg') {
  .lg\:rt-r-fg {
    flex-grow: var(--flex-grow-lg);
  }
}
@include breakpoint('xl') {
  .xl\:rt-r-fg {
    flex-grow: var(--flex-grow-xl);
  }
}
