@use '../breakpoints' as *;

@for $i from 0 through 9 {
  .rt-r-gap-#{$i} {
    gap: var(--space-#{$i});
  }
  .rt-r-cg-#{$i} {
    column-gap: var(--space-#{$i});
  }
  .rt-r-rg-#{$i} {
    row-gap: var(--space-#{$i});
  }
}

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 0 through 9 {
      .#{$bp}\:rt-r-gap-#{$i} {
        gap: var(--space-#{$i});
      }
      .#{$bp}\:rt-r-cg-#{$i} {
        column-gap: var(--space-#{$i});
      }
      .#{$bp}\:rt-r-rg-#{$i} {
        row-gap: var(--space-#{$i});
      }
    }
  }
}

.rt-r-gap {
  gap: var(--gap);
}
.rt-r-cg {
  column-gap: var(--column-gap);
}
.rt-r-rg {
  row-gap: var(--row-gap);
}

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-gap {
      gap: var(--gap-#{$bp});
    }
    .#{$bp}\:rt-r-cg {
      column-gap: var(--column-gap-#{$bp});
    }
    .#{$bp}\:rt-r-rg {
      row-gap: var(--row-gap-#{$bp});
    }
  }
}
