@use '../breakpoints' as *;

@for $i from 1 through 9 {
  .rt-r-gtc-#{$i} {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
  }
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 1 through 9 {
      .#{$bp}\:rt-r-gtc-#{$i} {
        grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
      }
    }
  }
}

.rt-r-gtc {
  grid-template-columns: var(--grid-template-columns);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-gtc {
      grid-template-columns: var(--grid-template-columns-#{$bp});
    }
  }
}
