@use '../breakpoints' as *;

@for $i from 1 through 9 {
  .rt-r-gtr-#{$i} {
    grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
  }
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 1 through 9 {
      .#{$bp}\:rt-r-gtr-#{$i} {
        grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
      }
    }
  }
}

.rt-r-gtr {
  grid-template-rows: var(--grid-template-rows);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-gtr {
      grid-template-rows: var(--grid-template-rows-#{$bp});
    }
  }
}
