@use '../breakpoints' as *;

@for $i from 1 through 9 {
  .rt-r-gr-#{$i} {
    grid-row: #{$i};
  }
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 1 through 9 {
      .#{$bp}\:rt-r-gr-#{$i} {
        grid-row: #{$i};
      }
    }
  }
}

.rt-r-gr {
  grid-row: var(--grid-row);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-gr {
      grid-row: var(--grid-row-#{$bp});
    }
  }
}
