@use '../breakpoints' as *;

@for $i from 1 through 9 {
  .rt-r-gc-#{$i} {
    grid-column: #{$i};
  }
}

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 1 through 9 {
      .#{$bp}\:rt-r-gc-#{$i} {
        grid-column: #{$i};
      }
    }
  }
}

.rt-r-gc {
  grid-column: var(--grid-column);
}

@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-gc {
      grid-column: var(--grid-column-#{$bp});
    }
  }
}
