@use '../breakpoints' as *;

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Inset                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@for $i from 0 through 9 {
  .rt-r-inset-#{$i} {
    inset: var(--space-#{$i});
  }
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 0 through 9 {
      .#{$bp}\:rt-r-inset-#{$i} {
        inset: var(--space-#{$i});
      }
    }
  }
}

.rt-r-inset {
  inset: var(--inset);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-inset {
      inset: var(--inset-#{$bp});
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                 Top                 */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@for $i from 0 through 9 {
  .rt-r-top-#{$i} {
    top: var(--space-#{$i});
  }
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 0 through 9 {
      .#{$bp}\:rt-r-top-#{$i} {
        top: var(--space-#{$i});
      }
    }
  }
}

.rt-r-top {
  top: var(--top);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-top {
      top: var(--top-#{$bp});
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Right                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@for $i from 0 through 9 {
  .rt-r-right-#{$i} {
    right: var(--space-#{$i});
  }
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 0 through 9 {
      .#{$bp}\:rt-r-right-#{$i} {
        right: var(--space-#{$i});
      }
    }
  }
}

.rt-r-right {
  right: var(--right);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-right {
      right: var(--right-#{$bp});
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*               Bottom                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@for $i from 0 through 9 {
  .rt-r-bottom-#{$i} {
    bottom: var(--space-#{$i});
  }
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 0 through 9 {
      .#{$bp}\:rt-r-bottom-#{$i} {
        bottom: var(--space-#{$i});
      }
    }
  }
}

.rt-r-bottom {
  bottom: var(--bottom);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-bottom {
      bottom: var(--bottom-#{$bp});
    }
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Left                 */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@for $i from 0 through 9 {
  .rt-r-left-#{$i} {
    left: var(--space-#{$i});
  }
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    @for $i from 0 through 9 {
      .#{$bp}\:rt-r-left-#{$i} {
        left: var(--space-#{$i});
      }
    }
  }
}

.rt-r-left {
  left: var(--left);
}
@each $bp in ('xs', 'sm', 'md', 'lg', 'xl') {
  @include breakpoint($bp) {
    .#{$bp}\:rt-r-left {
      left: var(--left-#{$bp});
    }
  }
}
