@use "../breakpoints" as *;

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*              All sides              */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@mixin margin-pos($prefix) {
  #{$prefix}-r-m,
  #{$prefix}-r-m-0,
  #{$prefix}-r-m-1,
  #{$prefix}-r-m-2,
  #{$prefix}-r-m-3,
  #{$prefix}-r-m-4,
  #{$prefix}-r-m-5,
  #{$prefix}-r-m-6,
  #{$prefix}-r-m-7,
  #{$prefix}-r-m-8,
  #{$prefix}-r-m-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-right: var(--margin-right-override, var(--margin-right));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  #{$prefix}-r-m-0 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
  }
  #{$prefix}-r-m-1 {
    --margin-top: var(--space-1);
    --margin-right: var(--space-1);
    --margin-bottom: var(--space-1);
    --margin-left: var(--space-1);
  }
  #{$prefix}-r-m-2 {
    --margin-top: var(--space-2);
    --margin-right: var(--space-2);
    --margin-bottom: var(--space-2);
    --margin-left: var(--space-2);
  }
  #{$prefix}-r-m-3 {
    --margin-top: var(--space-3);
    --margin-right: var(--space-3);
    --margin-bottom: var(--space-3);
    --margin-left: var(--space-3);
  }
  #{$prefix}-r-m-4 {
    --margin-top: var(--space-4);
    --margin-right: var(--space-4);
    --margin-bottom: var(--space-4);
    --margin-left: var(--space-4);
  }
  #{$prefix}-r-m-5 {
    --margin-top: var(--space-5);
    --margin-right: var(--space-5);
    --margin-bottom: var(--space-5);
    --margin-left: var(--space-5);
  }
  #{$prefix}-r-m-6 {
    --margin-top: var(--space-6);
    --margin-right: var(--space-6);
    --margin-bottom: var(--space-6);
    --margin-left: var(--space-6);
  }
  #{$prefix}-r-m-7 {
    --margin-top: var(--space-7);
    --margin-right: var(--space-7);
    --margin-bottom: var(--space-7);
    --margin-left: var(--space-7);
  }
  #{$prefix}-r-m-8 {
    --margin-top: var(--space-8);
    --margin-right: var(--space-8);
    --margin-bottom: var(--space-8);
    --margin-left: var(--space-8);
  }
  #{$prefix}-r-m-9 {
    --margin-top: var(--space-9);
    --margin-right: var(--space-9);
    --margin-bottom: var(--space-9);
    --margin-left: var(--space-9);
  }
}

@include margin-pos(".rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include margin-pos(".#{$size}\\:rt");
  }
}

@mixin margin-neg($prefix) {
  #{$prefix}-r-m-1,
  #{$prefix}-r-m-2,
  #{$prefix}-r-m-3,
  #{$prefix}-r-m-4,
  #{$prefix}-r-m-5,
  #{$prefix}-r-m-6,
  #{$prefix}-r-m-7,
  #{$prefix}-r-m-8,
  #{$prefix}-r-m-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-right: var(--margin-right-override, var(--margin-right));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  #{$prefix}-r-m-1 {
    --margin-top: calc(-1 * var(--space-1));
    --margin-right: calc(-1 * var(--space-1));
    --margin-bottom: calc(-1 * var(--space-1));
    --margin-left: calc(-1 * var(--space-1));
  }
  #{$prefix}-r-m-2 {
    --margin-top: calc(-1 * var(--space-2));
    --margin-right: calc(-1 * var(--space-2));
    --margin-bottom: calc(-1 * var(--space-2));
    --margin-left: calc(-1 * var(--space-2));
  }
  #{$prefix}-r-m-3 {
    --margin-top: calc(-1 * var(--space-3));
    --margin-right: calc(-1 * var(--space-3));
    --margin-bottom: calc(-1 * var(--space-3));
    --margin-left: calc(-1 * var(--space-3));
  }
  #{$prefix}-r-m-4 {
    --margin-top: calc(-1 * var(--space-4));
    --margin-right: calc(-1 * var(--space-4));
    --margin-bottom: calc(-1 * var(--space-4));
    --margin-left: calc(-1 * var(--space-4));
  }
  #{$prefix}-r-m-5 {
    --margin-top: calc(-1 * var(--space-5));
    --margin-right: calc(-1 * var(--space-5));
    --margin-bottom: calc(-1 * var(--space-5));
    --margin-left: calc(-1 * var(--space-5));
  }
  #{$prefix}-r-m-6 {
    --margin-top: calc(-1 * var(--space-6));
    --margin-right: calc(-1 * var(--space-6));
    --margin-bottom: calc(-1 * var(--space-6));
    --margin-left: calc(-1 * var(--space-6));
  }
  #{$prefix}-r-m-7 {
    --margin-top: calc(-1 * var(--space-7));
    --margin-right: calc(-1 * var(--space-7));
    --margin-bottom: calc(-1 * var(--space-7));
    --margin-left: calc(-1 * var(--space-7));
  }
  #{$prefix}-r-m-8 {
    --margin-top: calc(-1 * var(--space-8));
    --margin-right: calc(-1 * var(--space-8));
    --margin-bottom: calc(-1 * var(--space-8));
    --margin-left: calc(-1 * var(--space-8));
  }
  #{$prefix}-r-m-9 {
    --margin-top: calc(-1 * var(--space-9));
    --margin-right: calc(-1 * var(--space-9));
    --margin-bottom: calc(-1 * var(--space-9));
    --margin-left: calc(-1 * var(--space-9));
  }
}

@include margin-neg(".-rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include margin-neg(".#{$size}\\:-rt");
  }
}

.rt-r-m {
  --margin-top: var(--m);
  --margin-right: var(--m);
  --margin-bottom: var(--m);
  --margin-left: var(--m);
}
@include breakpoint(xs) {
  .xs\:rt-r-m {
    --margin-top: var(--m-xs);
    --margin-right: var(--m-xs);
    --margin-bottom: var(--m-xs);
    --margin-left: var(--m-xs);
  }
}
@include breakpoint(sm) {
  .sm\:rt-r-m {
    --margin-top: var(--m-sm);
    --margin-right: var(--m-sm);
    --margin-bottom: var(--m-sm);
    --margin-left: var(--m-sm);
  }
}
@include breakpoint(md) {
  .md\:rt-r-m {
    --margin-top: var(--m-md);
    --margin-right: var(--m-md);
    --margin-bottom: var(--m-md);
    --margin-left: var(--m-md);
  }
}
@include breakpoint(lg) {
  .lg\:rt-r-m {
    --margin-top: var(--m-lg);
    --margin-right: var(--m-lg);
    --margin-bottom: var(--m-lg);
    --margin-left: var(--m-lg);
  }
}
@include breakpoint(xl) {
  .xl\:rt-r-m {
    --margin-top: var(--m-xl);
    --margin-right: var(--m-xl);
    --margin-bottom: var(--m-xl);
    --margin-left: var(--m-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Left and right            */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@mixin m-x-pos($prefix) {
  #{$prefix}-r-mx,
  #{$prefix}-r-mx-0,
  #{$prefix}-r-mx-1,
  #{$prefix}-r-mx-2,
  #{$prefix}-r-mx-3,
  #{$prefix}-r-mx-4,
  #{$prefix}-r-mx-5,
  #{$prefix}-r-mx-6,
  #{$prefix}-r-mx-7,
  #{$prefix}-r-mx-8,
  #{$prefix}-r-mx-9 {
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  #{$prefix}-r-mx-0 {
    --margin-left: 0px;
    --margin-right: 0px;
  }
  #{$prefix}-r-mx-1 {
    --margin-left: var(--space-1);
    --margin-right: var(--space-1);
  }
  #{$prefix}-r-mx-2 {
    --margin-left: var(--space-2);
    --margin-right: var(--space-2);
  }
  #{$prefix}-r-mx-3 {
    --margin-left: var(--space-3);
    --margin-right: var(--space-3);
  }
  #{$prefix}-r-mx-4 {
    --margin-left: var(--space-4);
    --margin-right: var(--space-4);
  }
  #{$prefix}-r-mx-5 {
    --margin-left: var(--space-5);
    --margin-right: var(--space-5);
  }
  #{$prefix}-r-mx-6 {
    --margin-left: var(--space-6);
    --margin-right: var(--space-6);
  }
  #{$prefix}-r-mx-7 {
    --margin-left: var(--space-7);
    --margin-right: var(--space-7);
  }
  #{$prefix}-r-mx-8 {
    --margin-left: var(--space-8);
    --margin-right: var(--space-8);
  }
  #{$prefix}-r-mx-9 {
    --margin-left: var(--space-9);
    --margin-right: var(--space-9);
  }
}

@include m-x-pos(".rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-x-pos(".#{$size}\\:rt");
  }
}

@mixin m-x-neg($prefix) {
  #{$prefix}-r-mx-1,
  #{$prefix}-r-mx-2,
  #{$prefix}-r-mx-3,
  #{$prefix}-r-mx-4,
  #{$prefix}-r-mx-5,
  #{$prefix}-r-mx-6,
  #{$prefix}-r-mx-7,
  #{$prefix}-r-mx-8,
  #{$prefix}-r-mx-9 {
    margin-left: var(--margin-left-override, var(--margin-left));
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  #{$prefix}-r-mx-1 {
    --margin-left: calc(-1 * var(--space-1));
    --margin-right: calc(-1 * var(--space-1));
  }
  #{$prefix}-r-mx-2 {
    --margin-left: calc(-1 * var(--space-2));
    --margin-right: calc(-1 * var(--space-2));
  }
  #{$prefix}-r-mx-3 {
    --margin-left: calc(-1 * var(--space-3));
    --margin-right: calc(-1 * var(--space-3));
  }
  #{$prefix}-r-mx-4 {
    --margin-left: calc(-1 * var(--space-4));
    --margin-right: calc(-1 * var(--space-4));
  }
  #{$prefix}-r-mx-5 {
    --margin-left: calc(-1 * var(--space-5));
    --margin-right: calc(-1 * var(--space-5));
  }
  #{$prefix}-r-mx-6 {
    --margin-left: calc(-1 * var(--space-6));
    --margin-right: calc(-1 * var(--space-6));
  }
  #{$prefix}-r-mx-7 {
    --margin-left: calc(-1 * var(--space-7));
    --margin-right: calc(-1 * var(--space-7));
  }
  #{$prefix}-r-mx-8 {
    --margin-left: calc(-1 * var(--space-8));
    --margin-right: calc(-1 * var(--space-8));
  }
  #{$prefix}-r-mx-9 {
    --margin-left: calc(-1 * var(--space-9));
    --margin-right: calc(-1 * var(--space-9));
  }
}

@include m-x-neg(".-rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-x-neg(".#{$size}\\:-rt");
  }
}

.rt-r-mx {
  --margin-left: var(--ml);
  --margin-right: var(--mr);
}
@include breakpoint(xs) {
  .xs\:rt-r-mx {
    --margin-left: var(--ml-xs);
    --margin-right: var(--mr-xs);
  }
}
@include breakpoint(sm) {
  .sm\:rt-r-mx {
    --margin-left: var(--ml-md);
    --margin-right: var(--mr-md);
  }
}
@include breakpoint(md) {
  .md\:rt-r-mx {
    --margin-left: var(--ml-md);
    --margin-right: var(--mr-md);
  }
}
@include breakpoint(lg) {
  .lg\:rt-r-mx {
    --margin-left: var(--ml-lg);
    --margin-right: var(--mr-lg);
  }
}
@include breakpoint(xl) {
  .xl\:rt-r-mx {
    --margin-left: var(--ml-xl);
    --margin-right: var(--mr-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*           Top and bottom            */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@mixin m-y-pos($prefix) {
  #{$prefix}-r-my,
  #{$prefix}-r-my-0,
  #{$prefix}-r-my-1,
  #{$prefix}-r-my-2,
  #{$prefix}-r-my-3,
  #{$prefix}-r-my-4,
  #{$prefix}-r-my-5,
  #{$prefix}-r-my-6,
  #{$prefix}-r-my-7,
  #{$prefix}-r-my-8,
  #{$prefix}-r-my-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }
  #{$prefix}-r-my-0 {
    --margin-top: 0px;
    --margin-bottom: 0px;
  }
  #{$prefix}-r-my-1 {
    --margin-top: var(--space-1);
    --margin-bottom: var(--space-1);
  }
  #{$prefix}-r-my-2 {
    --margin-top: var(--space-2);
    --margin-bottom: var(--space-2);
  }
  #{$prefix}-r-my-3 {
    --margin-top: var(--space-3);
    --margin-bottom: var(--space-3);
  }
  #{$prefix}-r-my-4 {
    --margin-top: var(--space-4);
    --margin-bottom: var(--space-4);
  }
  #{$prefix}-r-my-5 {
    --margin-top: var(--space-5);
    --margin-bottom: var(--space-5);
  }
  #{$prefix}-r-my-6 {
    --margin-top: var(--space-6);
    --margin-bottom: var(--space-6);
  }
  #{$prefix}-r-my-7 {
    --margin-top: var(--space-7);
    --margin-bottom: var(--space-7);
  }
  #{$prefix}-r-my-8 {
    --margin-top: var(--space-8);
    --margin-bottom: var(--space-8);
  }
  #{$prefix}-r-my-9 {
    --margin-top: var(--space-9);
    --margin-bottom: var(--space-9);
  }
}

@include m-y-pos(".rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-y-pos(".#{$size}\\:rt");
  }
}

@mixin m-y-neg($prefix) {
  #{$prefix}-r-my-1,
  #{$prefix}-r-my-2,
  #{$prefix}-r-my-3,
  #{$prefix}-r-my-4,
  #{$prefix}-r-my-5,
  #{$prefix}-r-my-6,
  #{$prefix}-r-my-7,
  #{$prefix}-r-my-8,
  #{$prefix}-r-my-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }
  #{$prefix}-r-my-1 {
    --margin-top: calc(-1 * var(--space-1));
    --margin-bottom: calc(-1 * var(--space-1));
  }
  #{$prefix}-r-my-2 {
    --margin-top: calc(-1 * var(--space-2));
    --margin-bottom: calc(-1 * var(--space-2));
  }
  #{$prefix}-r-my-3 {
    --margin-top: calc(-1 * var(--space-3));
    --margin-bottom: calc(-1 * var(--space-3));
  }
  #{$prefix}-r-my-4 {
    --margin-top: calc(-1 * var(--space-4));
    --margin-bottom: calc(-1 * var(--space-4));
  }
  #{$prefix}-r-my-5 {
    --margin-top: calc(-1 * var(--space-5));
    --margin-bottom: calc(-1 * var(--space-5));
  }
  #{$prefix}-r-my-6 {
    --margin-top: calc(-1 * var(--space-6));
    --margin-bottom: calc(-1 * var(--space-6));
  }
  #{$prefix}-r-my-7 {
    --margin-top: calc(-1 * var(--space-7));
    --margin-bottom: calc(-1 * var(--space-7));
  }
  #{$prefix}-r-my-8 {
    --margin-top: calc(-1 * var(--space-8));
    --margin-bottom: calc(-1 * var(--space-8));
  }
  #{$prefix}-r-my-9 {
    --margin-top: calc(-1 * var(--space-9));
    --margin-bottom: calc(-1 * var(--space-9));
  }
}

@include m-y-neg(".-rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-y-neg(".#{$size}\\:-rt");
  }
}

.rt-r-my {
  --margin-top: var(--mt);
  --margin-bottom: var(--mb);
}
@include breakpoint(xs) {
  .xs\:rt-r-my {
    --margin-top: var(--mt-xs);
    --margin-bottom: var(--mb-xs);
  }
}
@include breakpoint(sm) {
  .sm\:rt-r-my {
    --margin-top: var(--mt-sm);
    --margin-bottom: var(--mb-sm);
  }
}
@include breakpoint(md) {
  .md\:rt-r-my {
    --margin-top: var(--mt-md);
    --margin-bottom: var(--mb-md);
  }
}
@include breakpoint(lg) {
  .lg\:rt-r-my {
    --margin-top: var(--mt-lg);
    --margin-bottom: var(--mb-lg);
  }
}
@include breakpoint(xl) {
  .xl\:rt-r-my {
    --margin-top: var(--mt-xl);
    --margin-bottom: var(--mb-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                 Top                 */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@mixin m-t-pos($prefix) {
  #{$prefix}-r-mt,
  #{$prefix}-r-mt-0,
  #{$prefix}-r-mt-1,
  #{$prefix}-r-mt-2,
  #{$prefix}-r-mt-3,
  #{$prefix}-r-mt-4,
  #{$prefix}-r-mt-5,
  #{$prefix}-r-mt-6,
  #{$prefix}-r-mt-7,
  #{$prefix}-r-mt-8,
  #{$prefix}-r-mt-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  #{$prefix}-r-mt-0 {
    --margin-top: 0px;
  }
  #{$prefix}-r-mt-1 {
    --margin-top: var(--space-1);
  }
  #{$prefix}-r-mt-2 {
    --margin-top: var(--space-2);
  }
  #{$prefix}-r-mt-3 {
    --margin-top: var(--space-3);
  }
  #{$prefix}-r-mt-4 {
    --margin-top: var(--space-4);
  }
  #{$prefix}-r-mt-5 {
    --margin-top: var(--space-5);
  }
  #{$prefix}-r-mt-6 {
    --margin-top: var(--space-6);
  }
  #{$prefix}-r-mt-7 {
    --margin-top: var(--space-7);
  }
  #{$prefix}-r-mt-8 {
    --margin-top: var(--space-8);
  }
  #{$prefix}-r-mt-9 {
    --margin-top: var(--space-9);
  }
}

@include m-t-pos(".rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-t-pos(".#{$size}\\:rt");
  }
}

@mixin m-t-neg($prefix) {
  #{$prefix}-r-mt-1,
  #{$prefix}-r-mt-2,
  #{$prefix}-r-mt-3,
  #{$prefix}-r-mt-4,
  #{$prefix}-r-mt-5,
  #{$prefix}-r-mt-6,
  #{$prefix}-r-mt-7,
  #{$prefix}-r-mt-8,
  #{$prefix}-r-mt-9 {
    margin-top: var(--margin-top-override, var(--margin-top));
  }

  #{$prefix}-r-mt-1 {
    --margin-top: calc(-1 * var(--space-1));
  }
  #{$prefix}-r-mt-2 {
    --margin-top: calc(-1 * var(--space-2));
  }
  #{$prefix}-r-mt-3 {
    --margin-top: calc(-1 * var(--space-3));
  }
  #{$prefix}-r-mt-4 {
    --margin-top: calc(-1 * var(--space-4));
  }
  #{$prefix}-r-mt-5 {
    --margin-top: calc(-1 * var(--space-5));
  }
  #{$prefix}-r-mt-6 {
    --margin-top: calc(-1 * var(--space-6));
  }
  #{$prefix}-r-mt-7 {
    --margin-top: calc(-1 * var(--space-7));
  }
  #{$prefix}-r-mt-8 {
    --margin-top: calc(-1 * var(--space-8));
  }
  #{$prefix}-r-mt-9 {
    --margin-top: calc(-1 * var (--space-9));
  }
}

@include m-t-neg(".-rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-t-neg(".#{$size}\\:-rt");
  }
}

.rt-r-mt {
  --margin-top: var(--mt);
}
@include breakpoint(xs) {
  .xs\:rt-r-mt {
    --margin-top: var(--mt-xs);
  }
}
@include breakpoint(sm) {
  .sm\:rt-r-mt {
    --margin-top: var(--mt-sm);
  }
}
@include breakpoint(md) {
  .md\:rt-r-mt {
    --margin-top: var(--mt-md);
  }
}
@include breakpoint(lg) {
  .lg\:rt-r-mt {
    --margin-top: var(--mt-lg);
  }
}
@include breakpoint(xl) {
  .xl\:rt-r-mt {
    --margin-top: var(--mt-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Right                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@mixin m-r-pos($prefix) {
  #{$prefix}-r-mr,
  #{$prefix}-r-mr-0,
  #{$prefix}-r-mr-1,
  #{$prefix}-r-mr-2,
  #{$prefix}-r-mr-3,
  #{$prefix}-r-mr-4,
  #{$prefix}-r-mr-5,
  #{$prefix}-r-mr-6,
  #{$prefix}-r-mr-7,
  #{$prefix}-r-mr-8,
  #{$prefix}-r-mr-9 {
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  #{$prefix}-r-mr-0 {
    --margin-right: 0px;
  }
  #{$prefix}-r-mr-1 {
    --margin-right: var(--space-1);
  }
  #{$prefix}-r-mr-2 {
    --margin-right: var(--space-2);
  }
  #{$prefix}-r-mr-3 {
    --margin-right: var(--space-3);
  }
  #{$prefix}-r-mr-4 {
    --margin-right: var(--space-4);
  }
  #{$prefix}-r-mr-5 {
    --margin-right: var(--space-5);
  }
  #{$prefix}-r-mr-6 {
    --margin-right: var(--space-6);
  }
  #{$prefix}-r-mr-7 {
    --margin-right: var(--space-7);
  }
  #{$prefix}-r-mr-8 {
    --margin-right: var(--space-8);
  }
  #{$prefix}-r-mr-9 {
    --margin-right: var(--space-9);
  }
}

@include m-r-pos(".rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-r-pos(".#{$size}\\:rt");
  }
}

@mixin m-r-neg($prefix) {
  #{$prefix}-r-mr-1,
  #{$prefix}-r-mr-2,
  #{$prefix}-r-mr-3,
  #{$prefix}-r-mr-4,
  #{$prefix}-r-mr-5,
  #{$prefix}-r-mr-6,
  #{$prefix}-r-mr-7,
  #{$prefix}-r-mr-8,
  #{$prefix}-r-mr-9 {
    margin-right: var(--margin-right-override, var(--margin-right));
  }

  #{$prefix}-r-mr-1 {
    --margin-right: calc(-1 * var(--space-1));
  }
  #{$prefix}-r-mr-2 {
    --margin-right: calc(-1 * var(--space-2));
  }
  #{$prefix}-r-mr-3 {
    --margin-right: calc(-1 * var(--space-3));
  }
  #{$prefix}-r-mr-4 {
    --margin-right: calc(-1 * var(--space-4));
  }
  #{$prefix}-r-mr-5 {
    --margin-right: calc(-1 * var(--space-5));
  }
  #{$prefix}-r-mr-6 {
    --margin-right: calc(-1 * var(--space-6));
  }
  #{$prefix}-r-mr-7 {
    --margin-right: calc(-1 * var(--space-7));
  }
  #{$prefix}-r-mr-8 {
    --margin-right: calc(-1 * var(--space-8));
  }
  #{$prefix}-r-mr-9 {
    --margin-right: calc(-1 * var(--space-9));
  }
}

@include m-r-neg(".-rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-r-neg(".#{$size}\\:-rt");
  }
}
.rt-r-mr {
  --margin-right: var(--mr);
}
@include breakpoint(xs) {
  .xs\:rt-r-mr {
    --margin-right: var(--mr-xs);
  }
}
@include breakpoint(sm) {
  .sm\:rt-r-mr {
    --margin-right: var(--mr-sm);
  }
}
@include breakpoint(md) {
  .md\:rt-r-mr {
    --margin-right: var(--mr-md);
  }
}
@include breakpoint(lg) {
  .lg\:rt-r-mr {
    --margin-right: var(--mr-lg);
  }
}
@include breakpoint(xl) {
  .xl\:rt-r-mr {
    --margin-right: var(--mr-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*               Bottom                */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */

@mixin m-b-pos($prefix) {
  #{$prefix}-r-mb,
  #{$prefix}-r-mb-0,
  #{$prefix}-r-mb-1,
  #{$prefix}-r-mb-2,
  #{$prefix}-r-mb-3,
  #{$prefix}-r-mb-4,
  #{$prefix}-r-mb-5,
  #{$prefix}-r-mb-6,
  #{$prefix}-r-mb-7,
  #{$prefix}-r-mb-8,
  #{$prefix}-r-mb-9 {
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  #{$prefix}-r-mb-0 {
    --margin-bottom: 0px;
  }
  #{$prefix}-r-mb-1 {
    --margin-bottom: var(--space-1);
  }
  #{$prefix}-r-mb-2 {
    --margin-bottom: var(--space-2);
  }
  #{$prefix}-r-mb-3 {
    --margin-bottom: var(--space-3);
  }
  #{$prefix}-r-mb-4 {
    --margin-bottom: var(--space-4);
  }
  #{$prefix}-r-mb-5 {
    --margin-bottom: var(--space-5);
  }
  #{$prefix}-r-mb-6 {
    --margin-bottom: var(--space-6);
  }
  #{$prefix}-r-mb-7 {
    --margin-bottom: var(--space-7);
  }
  #{$prefix}-r-mb-8 {
    --margin-bottom: var(--space-8);
  }
  #{$prefix}-r-mb-9 {
    --margin-bottom: var(--space-9);
  }
}

@include m-b-pos(".rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-b-pos(".#{$size}\\:rt");
  }
}

@mixin m-b-neg($prefix) {
  #{$prefix}-r-mb-1,
  #{$prefix}-r-mb-2,
  #{$prefix}-r-mb-3,
  #{$prefix}-r-mb-4,
  #{$prefix}-r-mb-5,
  #{$prefix}-r-mb-6,
  #{$prefix}-r-mb-7,
  #{$prefix}-r-mb-8,
  #{$prefix}-r-mb-9 {
    margin-bottom: var(--margin-bottom-override, var(--margin-bottom));
  }

  #{$prefix}-r-mb-1 {
    --margin-bottom: calc(-1 * var(--space-1));
  }
  #{$prefix}-r-mb-2 {
    --margin-bottom: calc(-1 * var(--space-2));
  }
  #{$prefix}-r-mb-3 {
    --margin-bottom: calc(-1 * var(--space-3));
  }
  #{$prefix}-r-mb-4 {
    --margin-bottom: calc(-1 * var(--space-4));
  }
  #{$prefix}-r-mb-5 {
    --margin-bottom: calc(-1 * var(--space-5));
  }
  #{$prefix}-r-mb-6 {
    --margin-bottom: calc(-1 * var(--space-6));
  }
  #{$prefix}-r-mb-7 {
    --margin-bottom: calc(-1 * var(--space-7));
  }
  #{$prefix}-r-mb-8 {
    --margin-bottom: calc(-1 * var(--space-8));
  }
  #{$prefix}-r-mb-9 {
    --margin-bottom: calc(-1 * var(--space-9));
  }
}

@include m-b-neg(".-rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-b-neg(".#{$size}\\:-rt");
  }
}

.rt-r-mb {
  --margin-bottom: var(--mb);
}
@include breakpoint(xs) {
  .xs\:rt-r-mb {
    --margin-bottom: var(--mb-xs);
  }
}
@include breakpoint(sm) {
  .sm\:rt-r-mb {
    --margin-bottom: var(--mb-sm);
  }
}
@include breakpoint(md) {
  .md\:rt-r-mb {
    --margin-bottom: var(--mb-md);
  }
}
@include breakpoint(lg) {
  .lg\:rt-r-mb {
    --margin-bottom: var(--mb-lg);
  }
}
@include breakpoint(xl) {
  .xl\:rt-r-mb {
    --margin-bottom: var(--mb-xl);
  }
}

/* * * * * * * * * * * * * * * * * * * */
/*                                     */
/*                Left                 */
/*                                     */
/* * * * * * * * * * * * * * * * * * * */
@mixin m-l-pos($prefix) {
  #{$prefix}-r-ml,
  #{$prefix}-r-ml-0,
  #{$prefix}-r-ml-1,
  #{$prefix}-r-ml-2,
  #{$prefix}-r-ml-3,
  #{$prefix}-r-ml-4,
  #{$prefix}-r-ml-5,
  #{$prefix}-r-ml-6,
  #{$prefix}-r-ml-7,
  #{$prefix}-r-ml-8,
  #{$prefix}-r-ml-9 {
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  #{$prefix}-r-ml-0 {
    --margin-left: 0px;
  }
  #{$prefix}-r-ml-1 {
    --margin-left: var(--space-1);
  }
  #{$prefix}-r-ml-2 {
    --margin-left: var(--space-2);
  }
  #{$prefix}-r-ml-3 {
    --margin-left: var(--space-3);
  }
  #{$prefix}-r-ml-4 {
    --margin-left: var(--space-4);
  }
  #{$prefix}-r-ml-5 {
    --margin-left: var(--space-5);
  }
  #{$prefix}-r-ml-6 {
    --margin-left: var(--space-6);
  }
  #{$prefix}-r-ml-7 {
    --margin-left: var(--space-7);
  }
  #{$prefix}-r-ml-8 {
    --margin-left: var(--space-8);
  }
  #{$prefix}-r-ml-9 {
    --margin-left: var(--space-9);
  }
}

@include m-l-pos(".rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-l-pos(".#{$size}\\:rt");
  }
}

@mixin m-l-neg($prefix) {
  #{$prefix}-r-ml-1,
  #{$prefix}-r-ml-2,
  #{$prefix}-r-ml-3,
  #{$prefix}-r-ml-4,
  #{$prefix}-r-ml-5,
  #{$prefix}-r-ml-6,
  #{$prefix}-r-ml-7,
  #{$prefix}-r-ml-8,
  #{$prefix}-r-ml-9 {
    margin-left: var(--margin-left-override, var(--margin-left));
  }

  #{$prefix}-r-ml-1 {
    --margin-left: calc(-1 * var(--space-1));
  }
  #{$prefix}-r-ml-2 {
    --margin-left: calc(-1 * var(--space-2));
  }
  #{$prefix}-r-ml-3 {
    --margin-left: calc(-1 * var(--space-3));
  }
  #{$prefix}-r-ml-4 {
    --margin-left: calc(-1 * var(--space-4));
  }
  #{$prefix}-r-ml-5 {
    --margin-left: calc(-1 * var(--space-5));
  }
  #{$prefix}-r-ml-6 {
    --margin-left: calc(-1 * var(--space-6));
  }
  #{$prefix}-r-ml-7 {
    --margin-left: calc(-1 * var(--space-7));
  }
  #{$prefix}-r-ml-8 {
    --margin-left: calc(-1 * var(--space-8));
  }
  #{$prefix}-r-ml-9 {
    --margin-left: calc(-1 * var(--space-9));
  }
}

@include m-l-neg(".-rt");

@each $size in (xs, sm, md, lg, xl) {
  @include breakpoint($size) {
    @include m-l-neg(".#{$size}\\:-rt");
  }
}

.rt-r-ml {
  --margin-left: var(--ml);
}
@include breakpoint(xs) {
  .xs\:rt-r-ml {
    --margin-left: var(--ml-xs);
  }
}
@include breakpoint(sm) {
  .sm\:rt-r-ml {
    --margin-left: var(--ml-sm);
  }
}
@include breakpoint(md) {
  .md\:rt-r-ml {
    --margin-left: var(--ml-md);
  }
}
@include breakpoint(lg) {
  .lg\:rt-r-ml {
    --margin-left: var(--ml-lg);
  }
}
@include breakpoint(xl) {
  .xl\:rt-r-ml {
    --margin-left: var(--ml-xl);
  }
}
